body {
	background-color: rgb(242,242,242);
	font-family: 'Open Sans',Arial,sans-serif;
}
.cabecalho-principal{
	background: rgb(85,109,115);
	padding: 25px 0;

}
.cabecalho-principal .conteiner{
	width: 90%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content:space-between;
	color: white;
}
.cabecalho-principal .conteiner a{
	color: white;
	text-decoration: none;
}
.cabecalho-principal-titulo{
	font-family: 'Indie Flower', cursive;
	font-size: 60px;
	
}

.cabecalho-principal .conteiner .cabecalho-principal-menu a:hover{
	color: rgb(164,189,191);
	font-weight: bold;
	text-decoration: underline;
}

.cabecalho-principal-menu ul{
	display: flex;
	justify-content:space-between;
	font-size: 22px;
}
.cabecalho-principal-menu{
	width: 50%;
}
.apresentacao .conteiner{
	width: 90%;
	margin: 50px auto;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 50px  0;
}
.apresentacao img{
	width: 200px;
	height: 250px;
}
.apresentacao-titulo{
	font-family: 'Dancing Script', cursive;
	padding: 10px 0;
	font-size: 60px;
	font-weight: bold;
}
#menu{
	margin-top: 0px;
}
.button-subir-tela{
	position: fixed;
	z-index: 1000;
	right: 5%; 
    bottom: 5%;
}
.sobre-principal{
	
	justify-content: space-around;

}
.sobre-principal .conteiner{
	width: 90%;
	display: flex;
	background: rgb(138,161,166);
	margin: 0 auto;
	justify-content: space-around;
	padding: 20px 0;
	
}
.sobre-principal .conteiner .sobre-principal-conteudo{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 70%;
	align-items: center;
	text-align: justify;
}
.principal-titulo {
	font-size: 30px;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
}
/* formatação das sessões de conteudo*/
.experiencia-principal .conteiner, .conhecimentos-principal .conteiner,.formacoes-principal .conteiner{
	width: 90%;
	display: flex;
	background: rgb(138,161,166);
	margin: 50px auto;
	justify-content: space-around;
	padding: 20px 0;

}
.experiencia-principal-conteudo, .conhecimentos-principal-conteudo,.formacoes-principal-conteudo{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 70%;
	align-items: center;
	text-align: justify;
}
.conteudo-texto{
	font-family: 'Roboto', sans-serif;
	font-size: 20px; 
}
/* fim da formatação das sessões de conteudo*/

