body {
	background-color: rgb(242,242,242);
	font-family: 'Open Sans', arial, sans-serif
}
.cabecalho-principal{
	background: rgb(51,2,10);
	padding: 25px 0;

}
.cabecalho-principal .conteiner{
	width: 90%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content:space-between;
	color: white;
}
.cabecalho-principal .conteiner a{
	color: white;
	text-decoration: none;
}
.cabecalho-principal-titulo{
	font-family: 'Indie Flower', cursive;
	font-size: 60px;
	
}

.cabecalho-principal .conteiner .cabecalho-principal-menu a:hover{
	color: rgb(164,189,191);
	font-weight: bold;
	text-decoration: underline;
}

.cabecalho-principal-menu ul{
	display: flex;
	justify-content:space-between;
	font-size: 22px;
}
.cabecalho-principal-menu{
	width: 50%;
}
.apresentacao{

}
.apresentacao .conteiner{
	height: 600px;
	width: 100%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	flex-direction: column;
	background-image:url("../img/fundo-outono.jpg"); 
	background-color: rgba(0,0,0,0.7);  
	 object-fit:cover;
	 -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;


}
.apresentacao .conteiner:before{
	 object-fit:cover;
	position: absolute;
	top: 110px;
	left: 0;
	width: 100%;
	height: 600px;
	content: '';
	background-color: rgba(0,0,0,0.3); 

}

.apresentacao-titulo{
	position: relative;
	font-family: 'Dancing Script', cursive;
	padding: 10px 0;
	font-size: 100px;
	font-weight: bold;
	margin: auto 0;
	color: rgb(242,242,242);

}
#menu{
	margin-top: 0px;
}
.button-subir-tela{
	position: fixed;
	z-index: 1000;
	right: 5%; 
    bottom: 5%;
}
.sobre-principal{
	display: flex;
	margin: 5px 0;
	justify-content: space-around;
	height: 500px;
}
.sobre-principal .sobre-img img{
	margin: 0 5px;
 	object-fit:cover;
	width: 400px;
	height: 100%;
}
.sobre-principal .sobre-img:before{
	margin: 0 5px;
 	object-fit:cover;
	position: absolute;
	left: 0;
	width: 400px;
	height: 500px;
	content: '';
	background-color: rgba(0,0,0,0.2); 
}


.sobre-principal .conteiner{
	height: 100%;
	width: 99%;
	display: flex;
	background: rgb(9,109,134);
	justify-content: space-around;

	
	
}
.sobre-principal .conteiner .sobre-principal-conteudo{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 70%;
	text-align: justify;
	color: rgb(205,211,180);
}
.principal-titulo {
	font-size: 50px;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
	text-align: left;
}


/* formatação das sessões de conteudo*/
.formacoes-principal .conteiner{
	width: 90%;
	display: flex;
	background: rgb(138,161,166);
	margin: 50px auto;
	justify-content: space-around;
	padding: 20px 0;

}
.formacoes-principal-conteudo{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 70%;
	align-items: center;
	text-align: justify;
}
.conteudo-texto{
	font-family: 'Roboto', sans-serif;
	font-size: 20px; 
}
/* fim da formatação das sessões de conteudo*/
