body {
	background-color: rgb(242,242,242);
	font-family: 'Open Sans', arial, sans-serif
}
.cabecalho-principal{
	background: rgb(51,2,10);
	padding: 25px 0;
}
.cabecalho-principal .conteiner{
	width: 90%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content:space-between;
	color: white;
}
.cabecalho-principal .conteiner a{
	color: white;
	text-decoration: none;
}
.cabecalho-principal-titulo{
	font-family: 'Indie Flower', cursive;
	font-size: 60px;	
}
.cabecalho-principal .conteiner .cabecalho-principal-menu a:hover{
	color: rgb(164,189,191);
	font-weight: bold;
	text-decoration: underline;
}
.cabecalho-principal-menu ul{
	display: flex;
	justify-content:space-between;
	font-size: 22px;
}
.cabecalho-principal-menu{
	width: 60%;
}
.apresentacao .conteiner{
	height: 600px;
	width: 100%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	flex-direction: column;
	background-image:url("../img/outono-fundo.png"); 
	background-color: rgba(0,0,0,0.7);  
	object-fit:cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}
/*
.apresentacao .conteiner:before{
	object-fit:cover;
	position: absolute;
	top: 130px;
	left: 0;
	width: 100%;
	height: 600px;
	content: '';
	background-color: rgba(0,0,0,0.3); 
}
*/
.apresentacao-titulo{
	position: relative;
	font-family: 'Dancing Script', cursive;
	padding: 10px 0;
	font-size: 100px;
	font-weight: bold;
	margin: auto 0;
	color: rgb(242,242,242);
}
#menu{
	margin-top: 0px;
}
.button-subir-tela{
	position: fixed;
	z-index: 1000;
	right: 5%; 
	bottom: 5%;
}
.sobre-principal{
	display: flex;
	margin: 5px 0;
	justify-content: space-around;

}
.sobre-principal .sobre-img img{
	margin: 0 5px;
	object-fit:cover;
	width: 400px;
	height: 500px
	
}
/*
.sobre-principal .sobre-img:before{
	margin: 0 5px;
	object-fit:cover;
	position: absolute;
	left: 0;
	width: 400px;
	height: 500px;
	content: '';
	background-color: rgba(0,0,0,0.2); 
}
*/
.sobre-principal .conteiner{
	height: 500px;
	width: 99%;
	display: flex;
	background: rgb(9,109,134);
	justify-content: space-around;
}
.sobre-principal .conteiner .sobre-principal-conteudo{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 65%;
	text-align: justify;
	color: rgb(205,211,180);
	font-family: 'Titillium Web', sans-serif;


}
.principal-titulo {
	font-size: 50px;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
	text-align: left;
}
.formacoes-principal{
	background-color:rgb(190,208,184); 
	flex-direction: column; 
	margin: 5px 0;
}
.formacoes-principal .conteiner{
	display: flex;
	width: 100%;
	height: 400px;
}
.conteiner-formacao{
	
	width: 25%;
	text-align: center;
	transition: all 1s;
}
.conteiner-formacao{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.titulo-sessao-formacao{
	font-size: 60px;
	font-weight: bold;
	text-align: center;
	padding: 50px 0 30px 0;	
}
.conteiner-formacao:nth-child(1n+1):hover{
	background: rgb(213,85,0);
}
.conteiner-formacao:nth-child(1n+2):hover{
	background: rgb(19,143,166);
}
.conteiner-formacao:nth-child(1n +3):hover{
	background: rgb(47,155,87);
}
.conteiner-formacao:nth-child(1n +4):hover{
	background: rgb(223,178,1);	
}
.conteiner-formacao:nth-child(1n+1) .titulo-formacao,.conteiner-formacao:nth-child(1n+2) .titulo-formacao{
	font-size: 20px;
	font-weight: bold;
}
.conteiner-formacao:nth-child(1n+3) .titulo-formacao,.conteiner-formacao:nth-child(1n+4) .titulo-formacao{
	font-size: 18px;
	font-weight: bold;
}
.conteiner-conteudo-formacao{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
/* formatação das sessões de conteudo*/

.conteudo-texto{
	font-family: 'Roboto', sans-serif;
	font-size: 25px; 
}
.conteudo-texto a{
	text-decoration: none;
	font-weight: bold;
	color: rgb(250,211,180);
}
.conteudo-texto a:hover{
	text-decoration: underline;
}
.contato-principal .conteiner{
	width: 100%;
	height: 500px;
	display: flex;
	margin: 0 5px 5px 5px;
}
.informacoes-contatos{
	background-color:rgb(71,22,88);
	width: 60%; 
	color: rgb(205,211,180);
	display: flex;
	flex-direction: column;
	padding: 20px 0 0 60px;
}
.informacoes-contatos h1{
	font-size:60px;
}
.informacoes-contatos {
	font-size: 30px
}
.links{
	padding-top:50px; 
	height: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.links nav{
	display: flex;
	align-items: center;
}
.links nav p, a{
	padding-left:20px;
}
.links nav, h1{
	padding-bottom: 20px;
}
.links nav a{
	text-decoration: none;
	color: rgb(205,211,180);
}
.mapa{
	width: 40%;
	margin: 0 5px 0 5px;	
}
.mapa iframe{
	height: 100%;
}
footer{
	background-color: rgb(51,2,10);
	height: 150px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
footer h1{
	font-size: 60px;
	text-align: center;
	color: white;
}
.titulo-sessao-portfolio{
	padding: 15px;
	font-size: 70px;
	font-weight: bold;
	text-align: initial;
	padding-left: 10%;
}
background: rgb(243,44,44);
background: rgb(143,223,220);
background: rgb(255,203,93);
.portfolio{
	width: 100%;
	flex-direction: column;
	justify-content: center;
}
#section-portfolio{
	background: rgb(255,203,93);
	padding: 10px;
	margin-bottom: 5px; 
}
.portfolio .conteiner{
	width: 98%;
	display: flex;
	flex-direction: column;
	margin: 10px 0 5px 0;
}
.portfolio .conteiner li{
	display: flex;
	width: 80%;
	height: 100px;
	margin: 15px auto;
	align-items: center;	
	background: rgb(243,44,44);
}
.portfolio .conteiner li nav{
	display: flex;
	width: 100%;
	padding: 0 20px 0 20px; 
}
.portfolio .conteiner li h1{
	font-size: 50px;
	margin: 0 auto;
}
.portfolio-decricao{
	height: 550px;
	width: 80%;
	background: rgb(143,223,220);
	margin: 0 auto 10px auto;

}
.invisivel{
	display: none;
}
.testInvisivel{
	display: none;
}
.portfolio-decricao .descricao-texto{
	display: flex;
	flex-direction: column;
	width: 50%;
	margin: 10px auto;
	justify-content: space-around;
	height: 100%;
	
}
.portfolio-decricao .descricao-texto h2{
	font-size: 55px;

}
.portfolio-decricao .descricao-texto p,.portfolio-decricao .descricao-texto a{
	font-size: 20px;
	text-align: justify;
	text-decoration: none;
}
.portfolio-decricao .descricao-texto a{
	text-decoration: none;
	color: black;
	font-weight: bold;
}
.portfolio-decricao .descricao-texto a:hover{
	text-decoration: underline;
	
}
.portfolio-img{
	width: 40%;
	display: flex;
	flex-direction: column;
	margin: 10px auto;
	justify-content: space-around;
}
.portfolio-img img{
	margin: 10px 5px;
	object-fit:cover;
	width: 97%;	
	max-width: 100%;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	
}
.portfolio-img img:hover  {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.flex{
	display: flex;
	height: 100%;
}
#loading{
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgb(51,2,10);
	top: 0;
	left: 0;

}
#loading h1{
	position: fixed;
	top: 25%;
	left: 20%;
	font-size: 100px;
	color: white;
}
/*Responsividade desktop*/

@media (max-width: 1200px){
	.portfolio-decricao{
		height: 1000px;
	}
	.flex{
		flex-direction: column;
	}
}

@media (max-width: 1062px){
	.cabecalho-principal .conteiner{
		flex-direction: column;
	}

	.cabecalho-principal-menu{
		text-align: center;
		width: 80%;
	}
	#calculadora-depreciacao h1{
		font-size: 40px;
	}
}

@media (max-width: 1070px){
	.sobre-principal{
		flex-direction: column;
	}
	.sobre-principal .sobre-img{
		margin: 0 auto;
	}
	.sobre-principal{
		background-color: rgb(205,211,180);
	}
}
@media (max-width: 950px){
	.cabecalho-principal .conteiner ul{
		flex-direction: column;
	}
	.conteiner .conteiner-itens .lista-menu{
		flex-direction: column;
		align-items: center;
		height: 170px;
	}
	.contato-principal .conteiner{
		flex-direction: column;
		height: 800px;
	}
	.informacoes-contatos, .mapa{
		width: 100%;
	}
	.mapa{
		height: 100%;
	}

	
}
@media (max-width: 900px){

	.formacoes-principal{
		height: 1000px;
	}
	.formacoes-principal .conteiner{
		flex-direction: column;
		height: 800px;
		
	}
	.conteiner-formacao{
		width: 100%;

	}
	.conteiner-formacao{
		height: 880px;
	}
	.apresentacao-titulo{
		font-size: 60px;
	}

	
}
@media (max-width: 800px){
	#calculadora-depreciacao h1, #aparecida-nutricao h1{
		font-size: 30px;
	}
	#loading h1{
		font-size: 60px;
	}
	.informacoes-contatos{
		padding: 20px 0px;
		margin: 0;
	}
	.contato-principal .conteiner {
		margin: 5px 0;
		text-align: center;
	}
}
@media (max-width: 750px){
	.sobre-principal .conteiner{
		height: 600px;
	}


}
@media (max-width: 630px){
	.informacoes-contatos {
		font-size: 20px

	}
	.sobre-principal .conteiner{
		height: 700px;
	}
	.portfolio-img{
		min-width: 340px;
	}
	.descricao-texto{
		min-width: 400px;
	}
	.portfolio-decricao{
		min-width: 400px;
	}

}
/*Responsividade Mobile*/
@media (max-width: 450px){
	.cabecalho-principal-titulo{
		font-size: 60px;		
	}
	.cabecalho-principal-menu ul{
		flex-direction: column;
		font-size: 30px;
		height: 300px;
		justify-content: space-around;
		margin: 20px 0;
	}
	.apresentacao .conteiner{
		height: 470px
	}
	.apresentacao-titulo{
		font-size: 45px;
	}
	.sobre-principal .sobre-img{
		margin: 10px auto;
	}
	.sobre-principal .sobre-img img{
		height: 300px;
		width: 200px;
	}
	.sobre-principal .conteiner{
		height: 800px;
	}
	.principal-titulo{
		font-size: 50px;
	}
	.conteudo-texto{
		font-size: 20px;
	}
	.descricao-texto{
		width: 266px;
	}
	.portfolio-decricao .descricao-texto h2{
		font-size: 40px;

	}
	.portfolio-decricao .descricao-texto p,.portfolio-decricao .descricao-texto a{
		font-size: 16px;
		text-align: justify;
		text-decoration: none;
	}
	.portfolio-decricao {
		width: 266px;
	}
	.portfolio-img{
		min-width: 300px;
	}
	.descricao-texto{
		min-width: 320px;
		text-align: center;
	}
	.portfolio-decricao{
		min-width: 340px;
	}
	.informacoes-contatos{
		font-size: 18px;
		padding: 20px 0px;
		margin: 0;
	}
	.contato-principal .conteiner {
		margin: 5px 0;
		text-align: center;
	}
	.button-subir-tela{
		width: 10px;
	}
	.portfolio .conteiner li h1{
		font-size: 30px;
		text-align: center;
	}
	#calculadora-depreciacao h1, #aparecida-nutricao h1{
		font-size: 23px;

	}
	#loading h1 {
		left: 25px;
		font-size: 50px;
	}

}